.agenda-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem 0 1rem;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      font-family: $f-bebas;
      font-size: $s-title-desktop;
      line-height: 4rem;
      text-align: left;
      margin-bottom: 2rem;
      align-self: flex-start;

      .title-span {
        display: block;
      }

      .red-span {
        padding: 0.5rem 1rem 0 1rem;
        margin-left: -1rem;
      }
    }

    .text-container {
      widows: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      p {
        margin: 0.5rem 0;
        font-size: $s-text-mobile;
        line-height: 1.5rem;
      }

      .uppercase {
        font-size: $s-subtitle-mobile;
      }
    }
  }

  .cta-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    .social-container {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $f-bebas;
      font-size: $s-subtitle-mobile;
      line-height: 1.5rem;
      color: $c-white;
      margin-top: 1rem;
      text-align: center;

      .icons-container {
        width: 150px;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 1rem;

        a {
          width: 45px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;

          .icon {
            transition: all ease-in-out 0.3s;
            fill: $c-white;

            &:hover {
              transform: translateY(-3px);
              fill: $c-light-cherry;
            }
          }
        }
      }
    }
  }
}

.shows-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 0 1rem;

  .title-shows {
    width: 100vw;
    font-family: $f-bebas;
    font-size: $s-title-mobile;
    text-align: center;
    background-color: $c-cherry;
    padding: 0.7rem 0 0.5rem 0;
  }

  .program-content {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;

    .show-infos {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      .text-show {
        width: 100%;

        .day-number {
          font-family: $f-bebas;
          font-size: $s-title-tablet;
        }

        .date {
          font-family: $f-bebas;
          font-size: $s-button-mobile;
        }

        .title-show {
          width: 80%;
          font-family: $f-bebas;
          color: $c-light-cherry;
          font-size: 1.5rem;
          margin: 1rem 0;
        }

        .details {
          font-size: $s-text-mobile;
          line-height: 1.5rem;
        }
      }

      .image-show {
        width: 250px;
        height: auto;
        margin: 1rem 0;
      }
    }
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  TABLETTE ------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 599px) {
  .agenda-container {
    padding: 4rem 2rem 0 2rem;

    .content {
      .title {
        font-size: $s-big-title-desktop;
        line-height: 5rem;
      }

      .text-container {
        p {
          font-size: $s-text-tablet;
          line-height: 1.7rem;
        }

        .uppercase {
          font-size: $s-subtitle-tablet;
        }
      }
    }

    .cta-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;

      .social-container {
        font-size: $s-subtitle-tablet;
        line-height: 1.7rem;
      }
    }
  }

  .shows-container {
    padding: 2rem;

    .title-shows {
      font-size: $s-title-tablet;
    }

    .program-content {
      width: 80%;
      padding: 2rem 0;

      .show-infos {
        padding: 1rem 0;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }

        .text-show {
          .day-number {
            font-size: $s-title-tablet;
          }

          .date {
            font-size: $s-button-tablet;
          }

          .title-show {
            font-size: 1.9rem;
            line-height: 2.2rem;
          }

          .details {
            font-size: $s-text-tablet;
            line-height: 1.7rem;
          }
        }

        .image-show {
          width: 350px;
          margin: 2rem 0 1rem 0;
        }
      }
    }
  }
}

@media (min-width: 899px) {
  .agenda-container {
    .content {
      .text-container {
        width: 90%;
        align-self: center;
      }
    }
  }
}

@media (min-width: 1024px) {
  .agenda-container {
    padding: 7rem 3rem 0rem 3rem;

    .content {
      .title {
        font-size: $s-xxl-title-desktop;
        line-height: 9rem;

        .red-span {
          padding: 0.5rem 3rem 0 3rem;
          margin-left: -3rem;
        }
      }

      .text-container {
        p {
          font-size: $s-text-desktop;
          line-height: 2rem;
        }

        .uppercase {
          font-size: $s-subtitle-desktop;
        }
      }
    }

    .cta-container {
      margin-top: 2rem;

      .social-container {
        font-size: $s-subtitle-desktop;
        line-height: 4rem;
      }
    }
  }

  .shows-container {
    padding: 4rem 4rem 2rem 4rem;

    .title-shows {
      font-size: $s-title-tablet;
    }

    .program-content {
      width: 80%;
      padding: 4rem 0;

      .show-infos {
        &:not(:last-child) {
          margin-bottom: 3rem;
        }

        .text-show {
          .day-number {
            font-size: $s-title-desktop;
          }

          .date {
            font-size: $s-button-desktop;
          }

          .title-show {
            font-size: 2.3rem;
            line-height: 3rem;
          }

          .details {
            font-size: $s-text-desktop;
            line-height: 2.5rem;
          }
        }

        .image-show {
          width: 500px;
          margin: 4rem 0 2rem 0;
        }
      }
    }
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  DESKTOP -------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 1199px) {
  .agenda-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5rem 3rem;

    .content {
      width: 70%;

      .title {
        margin-bottom: 5rem;
      }

      .text-container {
        align-self: self-start;
      }
    }

    .cta-container {
      width: 30%;
      justify-content: flex-end;
      align-items: flex-end;

      .social-container {
        width: 90%;
        display: flex;
        line-height: 2rem;
        margin-top: 3rem;
        text-align: end;

        .icons-container {
          justify-content: flex-end;
          align-self: flex-end;
        }
      }
    }
  }

  .shows-container {
    padding: 5rem 3rem;

    .program-content {
      width: 80%;
      flex-direction: row;
      margin: 0 auto;
      padding: 5rem 0;

      .show-infos {
        flex-direction: row;
        padding: 0;

        &:nth-child(odd) {
          flex-direction: row-reverse;
        }

        &:not(:last-child) {
          margin-bottom: 5rem;
        }

        .text-show {
          width: 50%;
        }

        .image-show {
          width: 350px;
          margin: 0;
        }
      }
    }
  }
}

@media (min-width: 1399px) {
  .agenda-container {
    .cta-container {
      .social-container {
        width: 60%;
      }
    }
  }

  .shows-container {
    .program-content {
      width: 70%;
    }
  }
}

@media (min-width: 1920px) {
  .shows-container {
    .program-content {
      width: 60%;
    }
  }
}
