.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      font-family: $f-bebas;
      font-size: $s-title-desktop;
      line-height: 4rem;
      text-align: left;
      margin-bottom: 2rem;
      align-self: flex-start;

      .title-span {
        display: block;
      }

      .red-span {
        padding: 0.5rem 1rem 0 1rem;
        margin-left: -1rem;
      }
    }

    .contacts {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      .contact-item {
        width: 100%;
        font-size: $s-text-mobile;
        line-height: 1.5rem;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        .uppercase {
          font-size: $s-subtitle-mobile;
        }
      }
    }
  }

  .cta-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    .social-container {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $f-bebas;
      font-size: $s-subtitle-mobile;
      line-height: 1.5rem;
      color: $c-white;
      margin-top: 1rem;
      text-align: center;

      .icons-container {
        width: 150px;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 1rem;

        a {
          width: 45px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;

          .icon {
            transition: all ease-in-out 0.3s;
            fill: $c-white;

            &:hover {
              transform: translateY(-3px);
              fill: $c-light-cherry;
            }
          }
        }
      }
    }
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  TABLETTE ------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 599px) {
  .contact-container {
    .content {
      .title {
        font-size: $s-big-title-desktop;
        line-height: 5rem;
      }

      .contacts {
        .contact-item {
          font-size: $s-text-tablet;
          line-height: 1.7rem;

          .uppercase {
            font-size: $s-subtitle-tablet;
          }
        }
      }
    }

    .cta-container {
      margin-top: 4rem;

      .social-container {
        font-size: $s-subtitle-tablet;
      }
    }
  }
}

@media (min-width: 899px) {
  .contact-container {
    .content {
      .contacts {
        width: 90%;
        align-self: center;
      }
    }
  }
}

@media (min-width: 1024px) {
  .contact-container {
    padding: 7rem 3rem;

    .content {
      .title {
        font-size: $s-xxl-title-desktop;
        line-height: 9rem;

        .red-span {
          padding: 0.5rem 3rem 0 3rem;
          margin-left: -3rem;
        }
      }

      .contacts {
        .contact-item {
          font-size: $s-text-desktop;
          line-height: 2rem;

          .uppercase {
            font-size: $s-subtitle-desktop;
          }
        }
      }
    }

    .cta-container {
      margin-top: 4rem;

      .social-container {
        font-size: $s-subtitle-desktop;
      }
    }
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  DESKTOP -------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 1199px) {
}

@media (min-width: 1399px) {
}

@media (min-width: 1599px) {
}

@media (min-width: 1920px) {
  .contact-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5rem 3rem;

    .content {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title {
        font-family: $f-bebas;
        text-transform: uppercase;
        font-size: $s-xxl-title-desktop;
        line-height: 9rem;
        text-align: left;
        margin-bottom: 5rem;

        .title-span {
          display: block;
        }

        .red-span {
          padding: 1rem 3rem 0 3rem;
          margin-left: -3rem;
        }
      }

      .contacts {
        widows: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        .contact-item {
          width: 100%;
          font-size: $s-text-desktop;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          .uppercase {
            font-size: $s-subtitle-desktop;
          }
        }
      }
    }

    .cta-container {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      .social-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        font-family: $f-bebas;
        font-size: $s-subtitle-desktop;
        line-height: 2rem;
        color: $c-white;
        margin-top: 3rem;
        text-align: end;

        .social-text {
          width: 350px;
        }

        .icons-container {
          width: 150px;
          display: flex;
          justify-content: flex-end;
          align-self: flex-end;
          margin-top: 1rem;

          a {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
              transition: all ease-in-out 0.3s;
              fill: $c-white;

              &:hover {
                transform: translateY(-3px);
                fill: $c-light-cherry;
              }
            }
          }
        }
      }
    }
  }
}
