.resa-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3rem 1rem;

  .title {
    font-family: $f-bebas;
    font-size: $s-title-desktop;
    line-height: 4rem;
    text-align: right;
    margin-bottom: 2rem;
    align-self: flex-end;

    .title-span {
      display: block;
    }

    .red-span {
      padding: 0.5rem 1rem 0 1rem;
      margin-right: -1rem;
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $c-white;
    margin: 0 auto;

    .date-resa {
      font-size: $s-text-mobile;
      line-height: 1.5rem;
      text-align: center;
    }

    .infos {
      width: 100%;
      text-align: center;
      font-size: $s-text-mobile;
      line-height: 1.5rem;

      .more-infos {
        margin-top: 3rem;
        font-family: $f-bebas;
        font-size: $s-subtitle-mobile;
      }
    }

    .button-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $c-dark-water-green;
      border: $c-dark-water-green solid 2px;
      border-radius: 50px;
      font-family: $f-bebas;
      font-size: $s-button-mobile;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
      margin-top: 3rem;
      padding: 1rem 2rem;
      color: $c-white;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .address-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $c-white;
    margin-top: 3rem;
    line-height: 1.5rem;
    text-align: center;

    .title-address {
      width: 100vw;
      font-family: $f-bebas;
      font-size: $s-title-mobile;
      color: $c-white;
      text-align: center;
      background-color: $c-cherry;
      padding: 0.7rem 0 0.5rem 0;
    }

    .address {
      font-size: $s-text-mobile;
      line-height: 1.5rem;
      margin: 3rem 0;
    }

    .map-container {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .map {
        width: 100%;
        height: 100%;
      }

      .route-map {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  TABLETTE ------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 599px) {
  .resa-container {
    .title {
      font-size: $s-big-title-desktop;
      line-height: 5rem;
    }

    .content {
      .date-resa {
        font-size: $s-text-tablet;
        line-height: 1.7rem;
      }

      .infos {
        font-size: $s-text-tablet;
        line-height: 1.7rem;
      }

      .button-menu {
        font-size: $s-button-tablet;
      }
    }

    .address-container {
      font-size: $s-text-tablet;

      .title-address {
        font-size: $s-title-tablet;
        padding: 1rem 0 0.7rem 0;
      }

      .address {
        font-size: $s-text-tablet;
      }

      .map-container {
        height: 200px;
        flex-direction: row;

        .map {
          width: 100%;
          height: 100%;
        }

        .route-map {
          width: 200px;
          height: 100%;
        }
      }
    }
  }
}

@media (min-width: 899px) {
}

@media (min-width: 1024px) {
}

/*----------------------------------------------------------------------------------
-------------------------------------  DESKTOP -------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 1199px) {
}

@media (min-width: 1399px) {
}

@media (min-width: 1599px) {
}

@media (min-width: 1920px) {
}
