.resa-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5rem 3rem;

  .title {
    font-family: $f-bebas;
    text-transform: uppercase;
    font-size: $s-xxl-title-desktop;
    line-height: 9rem;
    color: $c-white;
    text-align: right;
    margin-bottom: 5rem;

    .title-span {
      display: block;
    }

    .red-span {
      margin-right: -3rem;
    }
  }

  .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $c-white;
    margin: 0 auto;

    .date-resa {
      font-size: $s-text-desktop;
    }

    .infos {
      width: 80%;
      text-align: center;
      font-size: $s-text-desktop;
      line-height: 1.8rem;

      .more-infos {
        margin-top: 3rem;
        font-family: $f-bebas;
        font-size: $s-subtitle-desktop;
      }
    }

    .button-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $c-dark-water-green;
      border: $c-dark-water-green solid 2px;
      border-radius: 50px;
      color: $c-white;
      font-family: $f-bebas;
      font-size: $s-button-desktop;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
      margin-top: 3rem;
      padding: 1rem 2rem;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .address-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $c-white;
    margin-top: 3rem;
    font-size: $s-text-desktop;

    .title-address {
      width: 100vw;
      font-family: $f-bebas;
      text-transform: uppercase;
      font-size: $s-title-desktop;
      color: $c-white;
      text-align: center;
      background-color: $c-cherry;
      margin-bottom: 3rem;
      padding: 0.7rem 0 0.5rem 0;
    }

    .map-container {
      width: 100vw;
      height: 400px;
      margin-top: 3rem;
      display: flex;

      .map {
        width: 100%;
        height: 100%;
      }

      .route-map {
        width: 400px;
        height: 100%;
      }
    }
  }
}
