//& colors

$c-dark-cherry: #4b000c;
$c-cherry: #700f1e;
$c-light-cherry: #982d3e;
$c-pink: #c25d6d;

$c-dark-green: #012622;
$c-green: #0a3c37;
$c-light-green: #1a554f;

$c-dark-water-green: #5f7763;
$c-water-green: #7e9181;
$c-light-water-green: #acb8af;

$c-black: #000;
$c-white: #fff;

//& fonts

$f-montserrat: 'Montserrat', sans-serif;
$f-bebas: 'bebas', sans-serif;
$f-italic-montserrat: 'montserrat-italic', sans-serif;
